/* src/components/navigation/navigation.css */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
	background-color: #1f1f1f;
	color: #fff;
}

.header img {
	border-radius: 50%;
}

.header p {
	margin: 0;
}

.header .logout {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.header .logout span {
	margin-left: 5px;
}

.sidebar {
	width: 250px;
	background-color: #333;
	color: white;
	padding: 15px;
}

.sidebar nav ul {
	list-style-type: none;
	padding: 0;
}

.sidebar nav ul li {
	margin: 10px 0;
}

.sidebar nav ul li a {
	color: white;
	text-decoration: none;
}

.sidebar nav ul li a:hover {
	text-decoration: underline;
}