/* src/components/general/general.css */
.input-wrapper,
.select-wrapper,
.btn,
.search-bar {
	margin: 10px 0;
}

.input-container {
	display: flex;
	align-items: center;
}

.input-icon {
	margin-right: 5px;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	cursor: pointer;
}

.btn-icon {
	margin-right: 5px;
}

.search-bar input {
	width: 100%;
	padding: 10px;
}